# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
functions/node_modules/
functions/lib/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
google-services.json
GoogleService-Info.plist

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment & Secrets
.env
service-account.json
.env.local
.env*.local
*.env
mail/*.json

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
functions/.runtimeconfig.json

# TypeScript build info
*.tsbuildinfo

# Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Generated native folders
/ios
/android
